<header class="container mx-auto">
  <nav class="flex flex-row pt-8 pb-6 max-w-xl mx-auto items-center border-b-2 border-slate-100 border-solid">
    <div class="text-4xl sm:text-5xl bg-gradient-to-r from-violet-300 to-violet-600 p-4 -rotate-3">
      <div class="">
        <a class="tracking-widest text-white" [routerLink]="'/dashboard'">Workoutr</a>
      </div>
    </div>
    <div class="ml-auto">
      <ng-container *ngIf="!(authService.isLoggedIn | async)">
        <a mat-button [routerLink]="'/auth/sign-in'" class="uppercase">Logga in</a>
      </ng-container>
      <ng-container *ngIf="authService.isLoggedIn | async">
        <button [matMenuTriggerFor]="menu" mat-button color="primary" class="rounded-full bg-violet-100 text-xl h-16" aria-label="Öppna användarmenyn">{{ authService.userInitials | async }}</button>
        <mat-menu #menu="matMenu" xPosition="before" class="header-menu">
          <div *ngIf="user && user.name" class="flex items-center flex-wrap px-6 text-white mb-2">
            <mat-icon>person_outline</mat-icon>
            <p class="pl-2">{{ user.name }}</p>
          </div>
          <a mat-menu-item [routerLink]="'/dashboard/workouts'" class="uppercase text-white">
            Min träning
          </a>
          <button mat-menu-item (click)="signOut()" class="uppercase text">
            Logga ut
          </button>
        </mat-menu>
      </ng-container>
    </div>
  </nav>
</header>

<main class="container mx-auto mt-6">
  <div class="max-w-xl mx-auto">
    <router-outlet></router-outlet>
  </div>
</main>

<app-notification-list></app-notification-list>

<footer class="w-full bg-gradient-to-r from-violet-300 to-violet-600 mt-auto p-8">
  <div class="flex w-full flex-row text-white justify-between items-center">
    <div class="flex flex-col">
      <div class="text-4xl">Workoutr</div>
      <div class="text-sm">
        Copyright © Dana Ghrabeti
      </div>
    </div>
    <div>
      <a href="https://github.com/danagh/workoutr" target="_blank" class="underline">GitHub</a>
    </div>
  </div>
  
</footer>
