/*@import '~@angular/material/theming';
@include mat-core();*/

@use '@angular/material' as mat;

@include mat.core();

$violet-palette: (
    50: #f5f3ff,
    100: #ede9fe,
    200: #ddd6fe,
    300: #c4b5fd,
    400: #a78bfa,
    500: #8b5cf6,
    600: #7c3aed,
    700: #6d28d9,
    800: #5b21b6,
    900: #4c1d95,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: black,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white
    )
);

$slate-palette: (
    50: #f8fafc,
    100: #f1f5f9,
    200: #e2e8f0,
    300: #cbd5e1,
    400: #94a3b8,
    500: #64748b,
    600: #475569,
    700: #334155,
    800: #1e293b,
    900: #0f172a,
    contrast: (
        50: #8b5cf6,
        100: #8b5cf6,
        200: #8b5cf6,
        300: #8b5cf6,
        400: #8b5cf6,
        500: #c4b5fd,
        600: #c4b5fd,
        700: #c4b5fd,
        800: #c4b5fd,
        900: #c4b5fd
    )
);

$my-primary: mat.define-palette($violet-palette);
$my-accent: mat.define-palette($slate-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);